* {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: paleturquoise;
    margin: auto;
}

.header_left {
    float: left;
}

.header_middle {
    margin-left: auto;
    margin-right: auto;
}

.header_right {
    float: right;
}
.Menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  